
        *   {
            background-color: #787978;
            z-index: 0;
        }
        .bar {
            height: 100px;
            width: 100%;
            position: fixed;
            z-index: 1;
            background-color: #2b3037;
        }

        .bar .menu li {
            list-style: none;
            float: left;
            line-height: 40px;
            vertical-align: middle;
            color: white;
            background-color: #2b3037;
        }
        
        .bar .title li {
            list-style: none;
            float: left;
            background-color: #2b3037;
            color: white;
        }

        .bar .search li{
            list-style: none;
            float: right;
            line-height: 35px;
            background-color: #2b3037;
        }

        .bar .menu .menu_link {
            text-decoration: none;
            background-color: #2b3037;
            color: white;
            display: block;
            padding: 0px 150px;
            padding-bottom: 3px;
            font-size: 20px;
        }

        .bar .menu .menu_link:hover {
            color: white;
            background-color: #4d4d4d;
        }
        .bar .menu .menu_link #tag:hover {
            color: white;
            background-color: blue;
        }
/*        
        .bar .menu .menu_link:hover .submenu{
            height : 93px;
        }*/
        .submenu {
                position : absolute;
                height : 0px;
                overflow : hidden;
                transition : height .2s;
        }
        
        .submenu_link {
                color : #2b3037;
                background-color: white;
                border : solid 1px #4d4d4d;
                margin-top : -1px;
                padding : 0px 30px;
        }
        
        .submenu_link :hover {
                color : white;
                background-color : #4d4d4d;
        }

        .sound {
            position: relative;
            top: 150px;
            left: 40px;

        }