body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    
}

a{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.7em;
    text-decoration: none;
}

.image {
    margin: 0 auto;
    display: inline-block;
}

a:hover {
    color: #4d4d4d;
}