
        /*전체*/
        *   {
            background-color: #222;
            margin: 0px;
            padding: 0px;
            z-index: 0;
            font-size: 1.02em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: white;
        }

        body {
            margin : 0;
        }

        section {
            position: absolute;
            width : 70%;
            top: 200px;
            font-size: 1.1em;
            display : flex;
            flex-direction :column;
            justify-content : flex-start;
            align-items : center;
            align-content : flex-start;
            z-index: 0;
        }
        .container {
            text-align: center;
        }