
        *   {
            background-color: #787978;
            z-index: 0;
        }
        .bar {
            height: 100px;
            width: 100%;
            position: fixed;
            z-index: 1;
            background-color: #2b3037;
        }

        .bar .menu {
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

        .bar .menu li {
            float: left;
            line-height: 40px;
            vertical-align: middle;
            color: white;
            background-color: #2b3037;
            position: relative;
        }
        
        .bar .title li {
            list-style: none;
            float: left;
            background-color: #2b3037;
            color: white;
        }

        .bar .search li{
            list-style: none;
            float: right;
            line-height: 35px;
            background-color: #2b3037;
        }

        .menu_link, .submenu_link {
            text-decoration: none;
            display: block;
        }

        .bar .menu .menu_link {
            background-color: #2b3037;
            color: white;
            
            padding: 10px 150px;
            font-size: 20px;
        }

        .bar .menu .menu_link:hover {
            color: white;
            background-color: #4d4d4d;
        }
        #tag:hover {
            color: white;
            background-color: blue;
        }

        #tag:hover .submenu {
            height: 930px;
            
        }

        .submenu {
                list-style: none;
                position: absolute;
                height: 0px;
                /*overflow: hidden;*/
                transition: height .2s;
        }
        
        .submenu_link {
                color: #2b3037;
                background-color: white;
                border: solid 1px #4d4d4d;
                padding: 0px 30px;
                font-size: 16px;
        }
        
        .submenu_link :hover {
                color: white;
                background-color: blue;
        }

        .sound {
            position: relative;
            top: 150px;
            left: 40px;

        }