.text {
    background-color: white;
    color: black;
}

section {
    display : flex;
    flex-direction : column;
    justify-content : flex-start;
    flex-wrap : wrap;
    align-items : center;
    align-content : flex-start;
    text-align: center;
    height: auto;
    padding: 5px 30px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #222;
    width: 800px;
    font-size: 2.1em;
    left: 25%;
    top: 33%;
    padding: 0;
}

#text {
    text-decoration: none;
    font-size: 2.1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 20px;
}

.button {
    border: 5px solid gray;
    font-size: 0.81em;
    border-radius: 7px;
}

.button:active {
    background-color: #424242;
}